#modifyGalleryPage {
	display: flex;
	justify-content: center;
	align-items: center;
}

#modifyGalleryPage #modifyGalleryPageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	margin-top: 50px;
}

#modifyGalleryPage #modifyGalleryPageTitleBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 70px;
}

#modifyGalleryPage #modifyGalleryPageTitle {
	text-align: center;
	font-size: 38px;
	font-weight: 600;
	padding-bottom: 20px;
}

#modifyGalleryPage #modifyGalleryPageSubTitle {
	text-align: center;
	font-size: 19px;
	letter-spacing: 2px;
	font-weight: 450;
	padding-bottom: 10px;
	color: #a7a7a7;
}

#modifyGalleryPage .modifyGalleryPageInputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}


#modifyGalleryPage .modifyGalleryPageSelect {
	display : flex;
	margin-bottom: 20px;
}

#modifyGalleryPage .modifyGalleryPageSubSelect {
	width: 150px;
	display : none;
	flex-direction: column;
	border : 1px solid whitesmoke;
	border-radius : 8px;
	position: absolute;
	margin-top : 65px;
	margin-right : 65px;
	padding: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	background-color : white;
	z-index: 1000;
}

#modifyGalleryPage .modifyGalleryPageSubSelectEach {
	display: flex;
	padding: 10px;
	border-radius : 10px;
	font-size: 14px;
	transition: background-color 0.1s ease-out;
	color : #1b2631;
	cursor: pointer;
}

#modifyGalleryPage .modifyGalleryPageSelectPlaceholder {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius:1500px; 
	transition: background-color 0.1s ease-out;
	padding: 15px 25px 15px 35px;
	background-color: #f8f8f8;
	font-size:18px;
	font-weight:500;
	width: 120px;
}

#modifyGalleryPage .modifyGalleryPageDown {
	right: 20px;
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	transform: rotate(-135deg);
	border-top: 2px solid #333;
	border-left: 2px solid #333;
}

#modifyGalleryPage #galleryName{
	flex: 1;
}

#modifyGalleryPage .modifyGalleryPageInputBox label {
	font-size: 18px;
	font-weight: 500;
	color: #333;
	margin-bottom: 15px;
}

#modifyGalleryPage .modifyGalleryPageInputBox input {
	border: 0;
	border-radius: 1500px;
	padding: 15px 25px;
	background-color: #f8f8f8;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}

/* 날짜 입력 칸 */
#modifyGalleryPage .shortInput {
	width: 200px;
	border: 0;
	border-radius: 1500px;
	padding: 15px 25px;
	background-color: #f8f8f8;
	font-size: 16px;
	font-weight: 500;
}


#modifyGalleryPage .textAreaBox {
	margin-top: 30px;
}

#modifyGalleryPage .textAreaBox label {
	font-size: 18px;
	font-weight: 500;
	color: #333;
	margin-bottom: 15px;
	display: block;
}

#modifyGalleryPage .textArea {
	border: 1px solid #f8f8f8;
	border-radius: 12px;
	padding: 25px;
	background-color: #f8f8f8;
	font-size: 16px;
	font-weight: 500;
	min-width: 828px;
	max-width: 828px;
	 overflow-y : auto;
	min-height: 500px;
}

#modifyGalleryPage .textArea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#modifyGalleryPage .textArea::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#modifyGalleryPage .textArea::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #c4c4c4;
}


#modifyGalleryPage #galleryMainImageInputButton {
	margin-left: 30px;
	border: 1px solid #c2c2c2;
	padding: 5px 20px;
	background-color: #c2c2c2;
	color: #fff;
	border-radius: 1500px;
	font-size: 16px;
	cursor: pointer;
}

#modifyGalleryPage #galleryMainImageInputButton:hover {
	background-color: #dddddd;
	color: grey;
}

#modifyGalleryPage #fileInputMain {
	display: none;
}

#modifyGalleryPage #modifyGalleryPageButtonBox {
	display: flex;
	margin: 50px 13px 0 0px;
	justify-content: flex-end;
}

#modifyGalleryPage #modifyGalleryBtn {
	margin-left: 30px;
	border: 1px solid #c2c2c2;
	padding: 5px 20px;
	background-color: #c2c2c2;
	color: #fff;
	border-radius: 1500px;
	font-size: 16px;
	cursor: pointer;
}

#modifyGalleryPage #modifyGalleryBtn:hover {
	background-color: #a2a2a2;
}
